# Dependency folders
#Backend 
node_modules/
**/node_modules/

# Environment variables
.env
**/.env
.env.*
!.env.example

# Build/Dist folders
dist/
build/
**/dist/
**/build/

# OS specific files
.DS_Store
Thumbs.db

# Frontend
**/dist/
**/.vite/
**/out/


# Coverage and Testing (Vitest/Jest)
**/coverage/


# Temporary/Cache
.eslintcache
.stylelintcache
**/node_modules/.cache/